<ion-header>
<app-menu-header></app-menu-header>
<app-header titulo="Mis Visitas"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="visitas" detail>
      <ion-icon slot="start" name="people-outline" color="medium"> </ion-icon>
      <ion-label>
        Mis registros
      </ion-label>
    </ion-item>

    <ion-item routerLink="bitacora-visitas" detail>
      <ion-icon slot="start" name="car-sport-outline" color="medium"> </ion-icon>
      <ion-label>
        Bitacora de visitas
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
