<app-menu-header></app-menu-header>

<app-header titulo="Nuevo punto de acuerdo"></app-header>


<ion-content fullscreen>

  <form #formulario="ngForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>

        <ion-label>
          <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec; 
              margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Título
        </ion-label>
        <ion-input name="titulo" [(ngModel)]="encuesta.titulo" type="text"></ion-input>
      </ion-item>
      <ion-item>


        <ion-label>
          <ion-icon name="chatbubble-ellipses-outline" style="font-size:23px; color: #50c8ec; 
              margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Mensaje
        </ion-label>
        <ion-input name="mensaje" [(ngModel)]="encuesta.mensaje" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="calendar-outline" style="font-size:23px; color: #50c8ec; 
              margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Duracion
        </ion-label>        
      </ion-item>
      <ion-item>
        
        <ion-label style="color: #50c8ec; ">dias</ion-label>
        <ion-select interface="popover"  placeholder="sel." [value] ="diaSelected"
        (ionChange)="cambioDiaDuracion($event)"
          okText="Aceptar" cancelText="Cancelar">          
          <ion-select-option *ngFor="let dd of dias" [value]="dd" >
            {{ dd}}
          </ion-select-option>
        </ion-select>
        <ion-label style="color: #50c8ec; ">horas</ion-label>
        <ion-select interface="popover" placeholder="sel." [value] ="horaSelected"
        (ionChange)="cambioHoraDuracion($event)"
          okText="Aceptar" cancelText="Cancelar">          
          <ion-select-option *ngFor="let hh of horas" [value]="hh">
            {{ hh}}
          </ion-select-option>
        </ion-select>
        <ion-label style="color: #50c8ec; ">minutos</ion-label>
        <ion-select interface="popover" placeholder="sel." name="minSelected" [value] ="minSelected"
        (ionChange)="cambioMinDuracion($event)"
          okText="Aceptar" cancelText="Cancelar">          
          <ion-select-option *ngFor="let mm of minutos" [value]="mm">
            {{ mm}}
          </ion-select-option>
        </ion-select>
      </ion-item>
  

      <ion-list *ngFor="let pre of encuesta.preguntas; let i = index">
        <ion-item>
          <ion-label>
            <ion-icon name="help-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>
            &nbsp;&nbsp;Pregunta {{i + 1}}
          </ion-label>
          <ion-input name="pregunta{{i + 1}}" 
          [(ngModel)]="pre.pregunta" type="text" style="margin-bottom: -5px;">           
          </ion-input>
          <ion-button fill="clear" size="small" style="text-transform: none;font-size:16px;margin-left: -4px; "
          *ngIf=" ( i + 1 ) > 1 "
            slot="end"
            (click)="eliminarPregunta(pre)">
           <ion-icon slot="start" name="trash" style="font-size:23px; color: #50c8ec;"></ion-icon>          
          </ion-button>
          
        </ion-item>

        <ion-item  *ngFor="let opc of pre.opciones; let o = index">
          <ion-label>
            <ion-icon name="bulb-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Opción {{o + 1}}
          </ion-label>

          <ion-input name="opcion{{( o + 1 )+ opc.id }}" [(ngModel)]="opc.opcion " type="text" style="margin-bottom: -5px;"></ion-input>

          <ion-button fill="clear" size="small" style="text-transform: none;font-size:16px;margin-left: -4px; "
          *ngIf=" ( o + 1 ) > 2 "
          slot="end"
          (click)="eliminarOpcion(pre, opc)">
         <ion-icon slot="start" name="trash" style="font-size:23px; color: #50c8ec;"></ion-icon>          
        </ion-button>
        </ion-item>

      </ion-list>



      <ion-item>
        <ion-button fill="clear" size="small" style="text-transform: none;font-size:16px;margin-left: -3px; "
          (click)="agregarNuevaOpcion()">
          <ion-icon slot="start" name="add-circle-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>&nbsp;&nbsp;Añadir opción
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill="clear" size="small" style="text-transform: none; font-size:16px; margin-left: -4px;"
          (click)="agregarNuevaPregunta()">
          <ion-icon slot="start" name="help-circle-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>&nbsp;&nbsp;Añadir pregunta
        </ion-button>
      </ion-item>
    
    </ion-list>

    <app-buttons valueLinkCancel="/votaciones" valueDisabled="{{formulario.invalid}}"></app-buttons>


    <app-footer></app-footer>
    

  </form>

</ion-content>
