<app-menu-header></app-menu-header>

<app-header titulo="Reglamento"></app-header>
<ion-content fullscreen>
    <section>
        <br>
        <ion-label>
            <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec;  margin-bottom: -5px;">
            </ion-icon>&nbsp;&nbsp;Reglamento
        </ion-label>
      </section>
      <section *ngIf="userData.administrador">
        <br>
        <ion-button 
        (click)="subirReglamento()"
        color="primary" expand="block">Cargar Reglamento
        </ion-button>
      </section>
      <section>
        <br>
        <ion-button 
        (click)="verReglamento()"
        color="primary" expand="block">Ver Reglamento
        </ion-button>
      </section>
      <section *ngIf="true" >
        <br>
        <ion-button 
        (click)="generarPdf()"
        color="primary" expand="block">Prueba PDF
        </ion-button>
      </section>

      <section *ngIf="true" >
        <br>
        <ion-button 
        (click)="generarPdf2()"
        color="primary" expand="block">Prueba 2 PDF
        </ion-button>
      </section>
    

  
</ion-content>
