<app-menu-header></app-menu-header>

<app-header titulo="Reglamento"></app-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-label>
                <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec;  margin-bottom: -5px;">
                </ion-icon>&nbsp;&nbsp;Reglamento
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-button 
                (click)="subirReglamento()"
                color="primary" expand="block">Cargar Reglamento
            </ion-button>
        </ion-item>
        
        <ion-item> 
            <ion-button 
                (click)="verReglamento()"
                color="primary" expand="block">Ver Reglamento
            </ion-button>
        </ion-item>

        <ion-item> 
            <ion-button 
                (click)="generarPdf()"
                color="primary" expand="block">Prueba Generar PDF
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
