<app-menu-header></app-menu-header>

<app-header titulo ="Contactos Emergencia"></app-header>
<ion-content fullscreen>  

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar  placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>

  <ion-slides class="emptyData" *ngIf="(contactos.length === 0 &&  contactos_default.length === 0)">
    <ion-slide class="emptyData">
      <ion-label>No hay contactos</ion-label>
    </ion-slide>
  </ion-slides>
  
  <ion-grid fixed *ngIf="contactos.length > 0">    
    <ion-row>
     <ion-col  size="12"  *ngFor="let contacto of contactos">       
         <app-list [contacto] = "contacto" ></app-list>           
     </ion-col>
   </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="contactos_default.length > 0">    
    <ion-row>
     <ion-col  size="12"  *ngFor="let contacto_def of contactos_default">       
         <app-list [contacto] = "contacto_def" ></app-list>           
     </ion-col>
   </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab vertical ="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink="/contactos-emergencia/add" >
      <ion-icon name ="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
