<ion-footer class="ion-no-border" translucent>
  <ion-toolbar color="light" style=" position: fixed; bottom: 0px; height: 100px;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
            <ion-slides  [options]="slideOpts"
              class="slides"
              #mySlider
              (ionSlidesDidLoad)="slidesDidLoad(mySlider)"
              >
              <!-- <ion-slide   *ngFor="let pub of publicidadService.imagesPublicidad">
                <ion-img *ngIf="pub.data" src="{{pathS3}}{{pub.data.pathImage}}" 
                  (click)="clicPublicidad(pub.data.pathUrl)"
                style=" height:100px; display: block; width:400px;"></ion-img>
              </ion-slide> -->
              <ion-slide   *ngFor="let pub of imagesPublicidad">                                      
                <ion-img *ngIf="pub.data" src="{{pub.data.pathImage}}" 
                  (click)="clicPublicidad(pub.data.pathUrl)"
                style=" height:100px; display: block; width:400px;"></ion-img>
              </ion-slide>
            </ion-slides>
          
<!-- 
          <ion-img src="assets/1.gif" 
            style=" height:60px; display: block; width:400px;  margin-right: 20px; margin-top: -15px;"></ion-img> -->


        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
