<ion-footer class="ion-no-border" translucent>
  <ion-toolbar color="light" style=" position: fixed; bottom: 0px; height: 48px;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
          <ion-img src="assets/1.gif" 
            style=" height:60px; display: block; width:400px;  margin-right: 20px; margin-top: -15px;"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>