ion-title {
     color:#00DDFF; 
     display: block; 
     font-weight: bold;
    
     }
     ion-back-button{
          color: #01143f;
          margin-left:19px;
          font-size: 16px;
     }