ion-title {
     color:#0c153e; 
     display: block; 
     background: #00DDFF;
     margin-top: 10px;

    
     }
     ion-back-button{
          color: #0c153e;
          margin-left:19px;
          font-size: 16px;
          background: #00DDFF;
     }
  