ion-title {
     color:#0c153e; 
     display: block; 
     margin-top: 10px;

    
     }
     ion-back-button{
          color: #0c153e;
          margin-left:19px;
          font-size: 16px;
     }
  

     .md .page-listing {
          color:#0c153e; 
     display: block; 
     margin-left: -23px;
     margin-top: 2px;
     
       }
       .md .button {
          color:#0c153e; 
     display: block; 
     margin-left: -4px;
     
       }