<ion-card lines="none">
  <ion-card-header>
    <ion-card-title> <ion-label> 
      <h1>{{anuncio.data.titulo}}</h1>  
      <h2>{{anuncio.data.clasificacion}}</h2>
    </ion-label>  
    </ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary"> ${{anuncio.data.precio}} 
      <ion-label color="{{anuncio.estatus?'success':'danger'}}" >{{anuncio.estatus?'Activo':'Inactivo'}}</ion-label>  
      </span>

      
      <div class="card-more">

        <ion-buttons slot="end">

          <ion-button slot="end" (click)="onRowSelected()">
            <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="lanzarMenu()">
            <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </div>
    </ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    <ion-label color="tertiary">
      <h3 color="light" *ngIf="anuncio.nombreAgenteCreador">{{anuncio.nombreAgenteCreador}}</h3>
      <h3 *ngIf="anuncio.correoAgenteCreador" (click)="correoSelected()">Mail. {{anuncio.correoAgenteCreador}}
        <ion-icon slot="end" color="primary" name="mail-outline"></ion-icon>
      </h3>
      <!-- <h3 *ngIf="anuncio.celularAgenteCreador" (click)="chatSelected()">Cel. {{anuncio.celularAgenteCreador}}
        <ion-icon slot="icon-only" color="primary" name="logo-whatsapp"></ion-icon>
      </h3> -->
      
      <h3 *ngIf="anuncio.celularAgenteCreador" >        
        <a href="https://wa.me/+52{{anuncio.celularAgenteCreador}}?text=Hola!,%20estoy%20interesado%20en%20tu%20anuncio%20{{anuncio.data.titulo}}" class="small-text"
        style="color:rgb(150, 150, 150); font-size: 13px;"> Cel. {{anuncio.celularAgenteCreador}}
          <ion-icon slot="end" color="primary" name="logo-whatsapp"></ion-icon>
      </a>

      </h3>
    </ion-label>
    <ion-label >
      <p>
        {{anuncio.data.descripcion}}
      </p>      
    </ion-label>
  </ion-card-content>
    
  <ion-item >
    <ion-slides pager="{{anuncio.files?.archivos.length > 1 ?true:false}}" >
      <ion-slide *ngFor="let img of anuncio.files.archivos" class="image-slide">      
        <img  *ngIf="img.rutaS3"  src="{{pathS3}}{{img.rutaS3}}">
        <img  *ngIf=" ! img.rutaS3"  src="{{pathBase64}}{{img.base64}}">
      </ion-slide>
    </ion-slides>
  </ion-item>
</ion-card>
