<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
   
        <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>      

    </ion-buttons>
    <ion-title></ion-title>
    <ion-img src="assets/g.JPG"  style="margin-right: 155px; height:40px;"></ion-img>
  </ion-toolbar>
</ion-header>
<app-header titulo="Pagos"></app-header>



<ion-content>

  <form #formulario1="ngForm" (ngSubmit)="save()">

    <ion-list>

      <ion-item>
        
        <ion-label><ion-icon name="calendar-outline" style="font-size:23px; color: #00DDFF; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Mes</ion-label>
        <ion-select name="mesPago" [(ngModel)]="pago.mesPago" 
        value="pago.mesPago" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="Febrero 2020">Febrero 2020</ion-select-option>
          <ion-select-option value="Marzo 2020">Marzo 2020</ion-select-option>
          <ion-select-option value="Abril 2020">Abril 2020</ion-select-option>
        </ion-select>
      </ion-item>
 
      <ion-item>
        <ion-label><ion-icon name="cash-outline" style="font-size:23px; color: #00DDFF; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Forma de pago</ion-label>  
        <ion-select name="formaPago" [(ngModel)]="pago.formaPago" 
        value="pago.formaPago" okText="Aceptar" cancelText="Cancelar">          
          <ion-select-option value="efectivo">Efectivo</ion-select-option>
          <ion-select-option value="cheque">Cheque</ion-select-option>
          <ion-select-option value="transferencia">Transferencia</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>

        <ion-col size="3" *ngFor="let image of pago.imgs">
          <ion-card>
            <img [src]="image | imageSanitizer">
          </ion-card>
        </ion-col>
      </ion-item>
      
    </ion-list>
    

    <ion-footer>
    <ion-toolbar  color="light" style="position: fixed; bottom: 0px;">
      <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>

        <ion-button fill="clear" size="small" type="submit"  [disabled]="formulario1.invalid" style="text-transform: none; margin-left: 140px; margin-top: -40px;">Guardar
          <ion-icon slot="start" name="checkmark-circle-outline" style="font-size:23px; color: #00DDFF;" ></ion-icon>
        </ion-button>
      
      
        <ion-button  fill="clear" size="small"  style="text-transform: none; margin-top: -40px; " routerLink={this.appdirectorios}>Cancelar
              <ion-icon  slot="start" name="close-circle-outline" style="font-size:23px; color: #00DDFF;" ></ion-icon>
                </ion-button>
    </ion-toolbar>
  </ion-footer>

  </form>
</ion-content>
