<ion-header>
<app-menu-header></app-menu-header>
<app-header titulo="Comprobante de pago"></app-header>
</ion-header>

<ion-content>

  <form [formGroup]="createPagoComprobante"  (ngSubmit)="save()" >
    <ion-list>
      <ion-item *ngIf=" (!edit) && (userData.administrador) " >
        <ion-label>
          <ion-icon name="person-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Inmueble
        </ion-label>

        <ion-select *ngIf="false" interface="popover" (ionChange)="cambioAgenteAdeudo($event)" okText="Aceptar" 
          cancelText="Cancelar">
          <ion-select-option *ngFor="let ag of agentes" [value]="ag.id">
            {{ ag.nombreCompleto}}
          </ion-select-option>          
        </ion-select>

        <ion-select interface="popover" (ionChange)="cambioDepartamentoAdeudo($event)" okText="Aceptar" 
          cancelText="Cancelar">
          <ion-select-option *ngFor="let ag of departamentos" [value]="ag.id">
            {{ ag.data?.nombre}}
          </ion-select-option>          
        </ion-select>

      </ion-item>

      <ion-item *ngIf=" ! edit">
        <ion-label>
          <ion-icon name="person-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Adeudo
        </ion-label>
        <ion-select formControlName="adeudoId" interface="popover"  okText="Aceptar" cancelText="Cancelar">
          <ion-select-option *ngFor="let add of adeudos" [value]="add.id">
            {{ add.nombreConcepto }} - {{ add.fechaCubrir | date:'dd/MM/yyyy'}}
          </ion-select-option>          
        </ion-select>
      </ion-item>
      <div formGroupName="data">
        <ion-item>
          <ion-label>
            <ion-icon name="cash-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Forma de pago
          </ion-label>
          <ion-select formControlName="formaPago" interface="popover"  okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
            <ion-select-option value="cheque">Cheque</ion-select-option>
            <ion-select-option value="transferencia">Transferencia</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item  *ngIf="createPagoComprobante.value.data.formaPago === 'otro'">
          <ion-label position="floating">
            <ion-icon name="create-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>&nbsp;Descripción</ion-label>        
          <ion-textarea rows="2" cols="1" 
          formControlName="descripcionFormaPago"></ion-textarea>   
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="calculator-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Importe
          </ion-label>
          <ion-input type="number" formControlName="importe">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="calendar-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Fecha
          </ion-label>
          <ion-datetime style="margin-bottom: -8px;" placeholder="Fecha " displayFormat="DD MMM YYYY"
            monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" cancelText="Descartar"
            doneText="Aceptar" formControlName="fecha">
          </ion-datetime>
        </ion-item>
      </div>

      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-col size="3" *ngFor="let dat of files">
          <ion-card>
            <img  src="{{pathBase64}}{{dat.base64}}">
          </ion-card>
        </ion-col>
      </ion-item>
    </ion-list>
    
    
    <app-buttons valueLinkCancel="/pagos-comprobantes" 
    valueDisabled="{{ ! createPagoComprobante.valid}}" ></app-buttons>

    <!-- <app-footer></app-footer> -->
  </form>
</ion-content>
