<app-menu-header></app-menu-header>

<app-header titulo="Pagos"></app-header>

<ion-content fullscreen>
  <ion-tabs>
    <ion-tab-bar slot="buttom">      
      <ion-tab-button tab="validar-comprobante">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Validar comprobante</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cargar-comprobante">
        <ion-icon name="arrow-up-outline"></ion-icon>
        <ion-label>Cargar comprobante</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="registrar-adeudo">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Registro de pagos</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>