<app-menu-header></app-menu-header>

<app-header titulo="Mis pagos"></app-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="pagos-comprobantes" detail>
      <ion-icon slot="start" name="cash-outline" color="medium"> </ion-icon>
      <ion-label>
        Comprobantes
      </ion-label>
    </ion-item>

    <ion-item routerLink="validar-comprobantes" detail>
      <ion-icon slot="start" name="checkbox-outline" color="medium"> </ion-icon>
      <ion-label>
        Validar comprobantes
      </ion-label>
    </ion-item>

    <ion-item routerLink="adeudos" detail>
      <ion-icon slot="start" name="trending-down-outline" color="medium"> </ion-icon>
      <ion-label>
        Adeudos
      </ion-label>
    </ion-item>

    <ion-item routerLink="cfdi" detail>
      <ion-icon slot="start" name="document-outline" color="medium"> </ion-icon>
      <ion-label>
        CFDIs Generación y consulta
      </ion-label>
    </ion-item>

    <ion-item routerLink="constancia-no-adeudo" detail>
      <ion-icon slot="start" name="checkbox-outline" color="medium"> </ion-icon>
      <ion-label>
        Constancia no adeudo
      </ion-label>
    </ion-item>


    <ion-item routerLink="recibos" detail>
      <ion-icon slot="start" name="cash-outline" color="medium"> </ion-icon>
      <ion-label>
        Recibos
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
