<app-menu-header></app-menu-header>
<app-header titulo="Nueva notificación"></app-header>

<ion-content>

  <!-- <form #formulario="ngForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="mail-open-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Destinatario
        </ion-label>
        <ion-select name="manzanaDestino" [(ngModel)]="aviso.manzanaDestino" value="aviso.manzanaDestino"
          okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="todos">Todos</ion-select-option>
          <ion-select-option value="administrador">Administrador</ion-select-option>
          <ion-select-option value="m1">Manzana 1</ion-select-option>
          <ion-select-option value="m2">Manzana 2</ion-select-option>
          <ion-select-option value="m3">Manzana 3</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="megaphone-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Título
        </ion-label>
        <ion-input name="titulo" [(ngModel)]="aviso.titulo" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="create-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Mensaje
        </ion-label>
        <ion-textarea style="margin-bottom: -11px; font-size: 14px;" name="descripcion" [(ngModel)]="aviso.descripcion"
          required>
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-col size="3" *ngFor="let image of aviso.imgs">
          <ion-card>
            <img [src]="image | imageSanitizer">
          </ion-card>
        </ion-col>
      </ion-item>
    </ion-list>


    <ion-footer class="ion-no-border" translucent>
      <ion-toolbar color="light" style="position:fixed;  bottom:47px; height: 50px;">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
              <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>
              <ion-button fill="clear" size="small" type="submit" [disabled]="formulario.invalid"
                style="text-transform: none; margin-left: 120px; margin-top: -40px;">Guardar
                <ion-icon slot="start" name="checkmark-circle-outline" style="font-size:23px; color: #50c8ec;">
                </ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" style="text-transform: none; margin-top: -80px;  margin-left:220px;"
                routerLink="/avisos">Cancelar
                <ion-icon slot="start" name="close-circle-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-toolbar>
    </ion-footer>
   <app-footer></app-footer>
  </form> -->

  <form [formGroup]="createNotificacion" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="mail-open-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Destinatario
        </ion-label>
        <ion-select interface="popover" placeholder="Seleccionar"  formControlName="destinatario"
          okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="todos">Todos</ion-select-option>
          <ion-select-option value="administrador">Administrador</ion-select-option>
          <ion-select-option *ngFor="let manzana of manzanas" [value]="manzana">
            {{ manzana}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label color="danger"
      *ngIf="createNotificacion.controls.destinatario.errors?.required && (createNotificacion.touched || createNotificacion.dirty)">* El
      destinatario es obligatorio </ion-label>
      <ion-item>
        <ion-label>
          <ion-icon name="megaphone-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Título
        </ion-label>
        <ion-input  formControlName="titulo">
        </ion-input>
      </ion-item>
      <ion-label color="danger"
      *ngIf="createNotificacion.controls.titulo.errors?.required && (createNotificacion.touched || createNotificacion.dirty)">* El
      título es obligatorio </ion-label>
      <ion-item>
        <ion-label>
          <ion-icon name="create-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Mensaje
        </ion-label>
        <ion-textarea style="margin-bottom: -11px; font-size: 14px;"  formControlName="descripcion">
        </ion-textarea>
      </ion-item>
      <ion-label color="danger"
      *ngIf="createNotificacion.controls.descripcion.errors?.required && (createNotificacion.touched || createNotificacion.dirty)">* El
      mensaje es obligatorio </ion-label>
      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
      </ion-item>
      <!-- <ion-item>
        <ion-col size="3" *ngFor="let image of aviso.imgs">
          <ion-card>
            <img [src]="image | imageSanitizer">
          </ion-card>
        </ion-col>
      </ion-item> -->
      <ion-item>
        <ion-col size="3" *ngFor="let dat of data">          
          <ion-card>            
            <img  src="{{pathBase64}}{{dat.base64}}">
          </ion-card>
        </ion-col>
      </ion-item>

  
    </ion-list>


    <ion-footer class="ion-no-border" translucent>
      <ion-toolbar color="light" style="position:fixed;  bottom:47px; height: 50px;">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
              <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>
              <ion-button fill="clear" size="small" type="submit" [disabled]=" ! createNotificacion.valid"
                style="text-transform: none; margin-left: 120px; margin-top: -40px;">Guardar
                <ion-icon slot="start" name="checkmark-circle-outline" style="font-size:23px; color: #50c8ec;">
                </ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" style="text-transform: none; margin-top: -80px;  margin-left:220px;"
                routerLink="/avisos">Cancelar
                <ion-icon slot="start" name="close-circle-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-toolbar>
    </ion-footer>
   <app-footer></app-footer>
  </form>
</ion-content>