<app-menu-header></app-menu-header>

<app-header titulo="Pagos / Comprobantes"></app-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar"></ion-searchbar>

  <ion-slides class="emptyData" *ngIf="pagoComprobanteList.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay comprobantes</ion-label>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed *ngIf="pagoComprobanteList.length > 0">
    
    <ion-row>
      <ion-col size="12" 
        *ngFor="let pagoComprobante of pagoComprobanteList">

        <app-list [pagoComprobante]="pagoComprobante"></app-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/pagos/pagos-comprobantes/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
