<ion-menu side="start" menuId="SegundoMenu" contentId="segundo">
  <ion-header>
    <ion-toolbar color="primary">
      <!--<ion-title>hola</ion-title>-->
      <ion-img src="assets/g.png"  style="height:30px;"></ion-img>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes | async">

        <ion-item color="primary" *ngIf="showBtnLogin">
          <ion-icon slot="start" name="log-out" color="light"></ion-icon>
          <ion-label color="light" (click)="logout()"> Cerrar sesión</ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

