<ion-header>
<app-menu-header></app-menu-header>
</ion-header>

<ion-content>
</ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="datos-empresa">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Contactar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="configuracion-emp"  *ngIf="userData.administrador">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Configuración</ion-label>        
      </ion-tab-button>

      <ion-tab-button tab="extra">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>¿Vas a construir?</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="publicidad" *ngIf="true">
        
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Publicidad</ion-label>
      </ion-tab-button>

      
    </ion-tab-bar>
  </ion-tabs>


