<ion-header>
<app-menu-header></app-menu-header>
<app-header titulo="Recibos"></app-header>
</ion-header>

<ion-content fullscreen>

    <ion-list>
        <ion-item>
            <ion-label>Recibo Pago</ion-label>
            <ion-select [(ngModel)]="pagoSelected"  interface="popover"  okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let pp of pagoComprobanteList" [value]="pp">
                  
                  {{ pp.infoAdeudo.concepto }} - {{ pp.infoAdeudo.fechaCubrir | date:' MMM yy '}}
                </ion-select-option>          
              </ion-select>
        </ion-item>
    </ion-list>

    <ion-button 
        (click)="generarPdf()"
         color="primary" expand="block">Generar PDF
    </ion-button>
</ion-content>
