
<!-- 
  <app-menu-header></app-menu-header>
<app-header titulo="Reservas"></app-header> 
-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>        
    <ion-img src="{{userData.base64ImageEmpresa}}" style="margin-right: 100px; height:50px;"></ion-img>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-title>Reservas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  class="button" text="" icon="chevron-back-circle-outline" defaultHref="/"  ></ion-back-button>             
    </ion-buttons>
  <!--   <ion-buttons slot="end">      
      <ion-button (click)="openCalModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
        
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-label>
        <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec; 
        margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Seleccione área
    </ion-label>

    <ion-select interface="popover" placeholder="Seleccionar"  class="ion-text-wrap"
        (ionChange)="cambioAreaComun($event)"
        okText="Aceptar" cancelText="Cancelar">
        <ion-select-option  *ngFor="let area of areasComunesList" [value]="area.id">
            {{ area.data.nombre}}
        </ion-select-option>
    </ion-select>
</ion-item>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Día</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row *ngIf="false" >
    <ion-col size="6">
      <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
        Add random events
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="removeEvents()" expand="block" fill="outline">
        Remove all events
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"    
    [monthviewDisplayEventTemplate]="foo"
    [monthviewEventDetailTemplate]="detailEvent"

  >
  </calendar>
  <!-- Template original
    <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template> -->

  <ng-template #foo let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{ view.dates[row*7+col].label}}    
      <div class="indicator-container" *ngFor="let e of view.dates[row*7+col].events; ">
          <div class="event-indicator" *ngIf="(e?.autorizado | json) === 'true'">            
          </div>
          <div class="event-indicator-auth" *ngIf="(e?.autorizado | json) === 'false'">            
          </div> 
      </div>
    </div>
  </ng-template>

  <!-- <ng-template #detailEvent let-showEventDetail="showEventDetail" 
     let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    {{showEventDetail}}
    {{selectedDate | json}}
  </ng-template> -->

  <ng-template #detailEvent let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
                <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
                    {{event.startTime|date:'h:mm a'}}                     
                    -
                    {{event.endTime|date:'h:mm a'}}
                </span>
            <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}}</span>
            <span class="event-detail">Sol: {{event.nombreAgenteCreador}}</span>
            <ion-label color="success" *ngIf="event.autorizado"> -  Autorizado</ion-label>
            <ion-label color="danger"  *ngIf=" ! event.autorizado"> - No autorizado</ion-label>
        </ion-item>
        <ion-item *ngIf="selectedDate?.events.length==0">
            <div class="no-events-label">{{noEventsLabel}}</div>
        </ion-item>
    </ion-list>
</ng-template>


  <!--Termina lo del calendario-->

<!-- 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>
  <ion-slides class="emptyData" *ngIf="reservasList.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay registros</ion-label>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed *ngIf="reservasList.length > 0">
    <ion-row>
      <ion-col size="12" *ngFor="let reserva of reservasList">
        <app-list [reserva]="reserva"></app-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button  (click)="openCalModal()" > 
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
