<ion-card>
  <ion-card-header>
    <ion-card-title>{{comprobante.mesPago}}</ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary">Monto original:  {{comprobante.montoOriginal}} </span>
      <div class="card-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>    
  </ion-card-header>
  <ion-card-content>
    {{comprobante.formaPago}} {{comprobante.montoPagado}}
  </ion-card-content>
  <ion-item>
    <ion-slides pager="true" *ngIf="comprobante.imgs.length > 1">
      <ion-slide *ngFor="let img of comprobante.imgs" class="image-slide">
        <img [src]="img | imageSanitizer">
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="comprobante.imgs.length === 1">
      <ion-slide *ngFor="let img of comprobante.imgs" class="image-slide">
        <img [src]="img | imageSanitizer">
      </ion-slide>
    </ion-slides>
  </ion-item>
</ion-card>