<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
   
        <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>      

    </ion-buttons>
    <ion-title></ion-title>
    <ion-img src="assets/g.png"  style="margin-right: 155px; height:50px;"></ion-img>
  </ion-toolbar>
</ion-header>

<app-header titulo="Nuevo anuncio"></app-header>

<ion-content>
      <form #formulario="ngForm" (ngSubmit)="save()">
        <ion-list>
          <ion-item>
            <ion-label position="floating"><ion-icon name="easel-outline"style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Título del anuncio</ion-label>
            <ion-input name="titulo" [(ngModel)]="anuncio.titulo" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon name="create-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Descripción</ion-label>
            <ion-textarea rows="1" cols="1" style="margin-top: -20px;" name="descripcion"[(ngModel)]="anuncio.descripcion" required></ion-textarea>            
            
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="cash-outline"style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Precio</ion-label>         
            <ion-input name="precio" type="number" [(ngModel)]="anuncio.precio" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="call-outline"style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Teléfono</ion-label>
            <ion-input name="telefono" [(ngModel)]="anuncio.telefono">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="alarm-outline"style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Fecha de expiración</ion-label>  

            <ion-datetime style="margin-bottom: -8px;" name="fechaVence" placeholder="Fecha vence"                      
                     
                      displayFormat="DD / MMM / YYYY"
                      monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                      cancelText="Descartar"
                      doneText="Aceptar"                      
                      [ngModel] ="anuncio.fechaVence.toISOString()"
                      (ionChange)="cambioFechaVence( $event )" 
                      >
          </ion-datetime>
          </ion-item> 

          
          <ion-item>
            <ion-label><ion-icon name="bar-chart-outline"style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Estatus</ion-label>  
            <ion-toggle slot="end" name="estatus" [(ngModel)]="anuncio.estatus"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-button fill="clear" size="small" (click)="camara()">
              <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
             
            </ion-button>
    
            <ion-button fill="clear" size="small" (click)="libreria()">
              <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
              
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-col size="3" *ngFor="let image of anuncio.imgs">
              <ion-card>
                <img [src]="image | imageSanitizer">
              </ion-card>
            </ion-col>
          </ion-item>
</ion-list>

        <ion-footer>
          <ion-toolbar  color="light" style="position: fixed; bottom: 0px;">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
                  <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>

              <ion-button fill="clear" size="small"  type="submit" [disabled]="formulario.invalid" style="text-transform: none; margin-left: 120px; margin-top: -40px;">Guardar
                <ion-icon slot="start" name="checkmark-circle-outline" style="font-size:23px; color: #00DDFF;" ></ion-icon>
              </ion-button>
            
            
              <ion-button fill="clear" size="small"  style="text-transform: none; margin-top: -80px;  margin-left: 220px;" 
              routerLink="/anuncios"
              >Cancelar
                    <ion-icon  slot="start" name="close-circle-outline" style="font-size:23px; color: #00DDFF;" ></ion-icon>
                      </ion-button>

                    </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-toolbar>
        </ion-footer>

        </form>
</ion-content>
