<app-menu-header></app-menu-header>

<app-header titulo="Contacto de emergencia"></app-header>
<ion-content>

  <form [formGroup]="createContacto" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Título
        </ion-label>
        <ion-input formControlName="titulo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="person-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Nombre
        </ion-label>
        <ion-input formControlName="nombreCompleto" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="phone-portrait-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Celular
        </ion-label>
        <ion-input formControlName="celular" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="call-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Teléfono 1
        </ion-label>
        <ion-input formControlName="telefono1" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="call-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Teléfono 2
        </ion-label>
        <ion-input formControlName="telefono2" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <app-buttons valueLinkCancel="/contactos-emergencia" valueDisabled="{{ ! createContacto.valid}}"></app-buttons>
    <app-footer></app-footer>
  </form>
</ion-content>
