<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button class="button" text="" icon="chevron-back-circle-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="buscarAgentePorEmail()" >
    <ion-item lines="full">
      <ion-label position="floating">
        <ion-icon slot="start" name="person"
          style="font-size:23px; color: #01143f; margin-left:5px;   margin-bottom: -5px; "></ion-icon>&nbsp;Cuenta de
        correo
      </ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" 

         expand="block">¡Restablecer contraseña!</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Por favor, ingrese su dirección de correo para que se pueda restablecer su contraseña.
    </small>
  </form>

  <ion-footer class="ion-no-border">
    <ion-toolbar color="light" style="position: fixed; bottom: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
            <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>

</ion-content>