<ion-card class="card-image">
  <ion-card-header>
    <ion-card-title>{{convocatoria.data.titulo}}</ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary"> {{convocatoria.fechaCreacion | date:'h:mm a - dd MMM yy '}} </span>
      <div class="card-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{convocatoria.data.descripcion}}
  </ion-card-content>

</ion-card>