<app-menu-header></app-menu-header>

<app-header titulo="Nuevo Registro"></app-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="bar-chart-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Visita programada
        </ion-label>
        <ion-toggle slot="end" name="visitaProgramada" [(ngModel)]="registroVisita.visitaProgramada"></ion-toggle>
      </ion-item>
      <ion-item *ngIf=" registroVisita.visitaProgramada ">
        <ion-button fill="clear" expand="block" size="small"
          style="text-transform: none;font-size:16px;margin-left: -4px; " (click)="scanQR()">
          <ion-icon slot="start" name="checkmark-outline" style="font-size:23px; color: #00DDFF;">
          </ion-icon>&nbsp;&nbsp;Escanear QR
        </ion-button>
      </ion-item>

      <ion-item >
        <ion-label>
          <ion-icon name="easel-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Nombre completo
        </ion-label>
        <ion-input name="nombreCompleto" [(ngModel)]="registroVisita.nombreCompleto" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="bar-chart-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Con auto
        </ion-label>
        <ion-toggle slot="end" name="conAuto" [(ngModel)]="registroVisita.conAuto"></ion-toggle>
      </ion-item>

      <ion-item *ngIf=" registroVisita.conAuto ">
        <ion-label>
          <ion-icon name="easel-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Placa
        </ion-label>
        <ion-input name="placa" [(ngModel)]="registroVisita.placa">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="easel-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Personas ingresan
        </ion-label>
        <ion-input name="personasQueIngresan" [(ngModel)]="registroVisita.personasQueIngresan">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="easel-outline" style="font-size:23px; color: #00DDFF; 
              margin-bottom: -5px;"></ion-icon>&nbsp;Observaciones
        </ion-label>
        <ion-textarea name="observaciones" [(ngModel)]="registroVisita.observaciones"></ion-textarea>


      </ion-item>

      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>

        </ion-button>

        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>

        </ion-button>
      </ion-item>
      <ion-item>
        <ion-col size="3" *ngFor="let image of registroVisita.imgs">
          <ion-card>
            <img [src]="image | imageSanitizer">
          </ion-card>
        </ion-col>
      </ion-item>
    </ion-list>


    <ion-footer class="ion-no-border" translucent>
      <ion-toolbar color="light" style="position: fixed; bottom: 0px; height: 63px;">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
              <ion-img src="assets/bee.png" style="height:30px; margin-left: -290px;"></ion-img>

              <ion-button fill="clear" size="small" type="submit" [disabled]="formulario.invalid"
                style="text-transform: none; margin-left: 120px; margin-top: -40px;">Guardar
                <ion-icon slot="start" name="checkmark-circle-outline" style="font-size:23px; color: #00DDFF;">
                </ion-icon>
              </ion-button>


              <ion-button fill="clear" size="small"
                style="text-transform: none; margin-top: -80px;  margin-left: 220px;" routerLink="/bitacora-visitas">
                Cancelar
                <ion-icon slot="start" name="close-circle-outline" style="font-size:23px; color: #00DDFF;"></ion-icon>
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>

  </form>
</ion-content>
