<ion-card>
  <ion-card-header>
    <ion-card-title>Adeudo de: {{adeudo.nombreAgenteAdeuda}}</ion-card-title>
    <ion-card-subtitle  >
      <span class="text-primary" *ngIf="adeudo.data" >
        <ion-label>
          <h2>Concepto: {{adeudo.data.concepto}}</h2>
          <h2>Cantidad: $ {{adeudo.data.cantidad}}</h2>
          <h3>Fecha a cubrir: {{adeudo.data.fechaCubrir | date:' MMM / yyyy '}}</h3>
        </ion-label>
      </span>
      <div class="card-more">
        <ion-buttons slot="end" *ngIf="userData.administrador">

          <ion-button slot="end" (click)="editRowSelected()"  >
            <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
          </ion-button>
          
  
          <ion-button fill="clear" (click)="lanzarMenu()">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
         </ion-buttons> 

      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="adeudo.data">
    {{adeudo.data.descripcion}}
  </ion-card-content>  
</ion-card>