<ion-card>
  <ion-card-header>
    <ion-card-title color="{{adeudo.nombreStatus ==='PENDIENTE'?'danger':'success' }}" >De: {{adeudo.dataDepartamento?.nombre}}</ion-card-title>
    
    <ion-card-subtitle  >
      <span class="text-primary" *ngIf="adeudo.data" >
        <ion-label>
          <h2>{{adeudo.nombreConcepto}}</h2>
          
          <h2>Fecha a cubrir: {{adeudo.fechaCubrir | date:'dd/MM/yyyy'}}</h2>
          
        </ion-label>
      </span>
      <div class="card-more">
        <ion-buttons slot="end" *ngIf="userData.administrador">
          <ion-button slot="end" (click)="editRowSelected()"  >
            <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
          </ion-button>            
          <ion-button fill="clear" (click)="lanzarMenu()">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
         </ion-buttons> 

      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="adeudo.data">
    <ion-label>
      <h2>
        {{adeudo.data.descripcion}}  
      </h2>
      
    </ion-label>
    <ion-label color="{{adeudo.nombreStatus ==='PENDIENTE'?'danger':'success' }}">
      <h2>
        {{adeudo.nombreStatus}}        
      </h2>      
      <h2>Importe: $ {{adeudo.data.importe}}</h2>
      <h2>{{(adeudo.data.importeInteres?('Interés: $: '+ adeudo.data.importeInteres):'') }}</h2>
      <h2>Total: $ {{adeudo.data.importe + (adeudo.data.importeInteres?adeudo.data.importeInteres:0) }}</h2>
    </ion-label>
    
    
  </ion-card-content>  
</ion-card>