<app-menu-header></app-menu-header>

<app-header titulo="Nueva visita"></app-header>
<ion-content>
  <form [formGroup]="createVisita" (ngSubmit)="save()">
    <ion-list>

      <div formGroupName="data">
        <ion-item>
          <ion-label>
            <ion-icon name="person-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Nombre
          </ion-label>
          <ion-input formControlName="nombreCompleto">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="create-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Tipo de visita
          </ion-label>
          <ion-select interface="popover" formControlName="tipoDeVisita" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="reunion">Reunión</ion-select-option>
            <ion-select-option value="visita">Visita</ion-select-option>
            <ion-select-option value="trabajador">Trabajador</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>

          <ion-label>
            <ion-icon name="stopwatch-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Duración
          </ion-label>
          <ion-select interface="popover" formControlName="duracionDeVisita" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="solo_hoy">Solo hoy</ion-select-option>
            <ion-select-option value="indefinido">Indefinido</ion-select-option>
            <ion-select-option value="entre_fechas">Rango de fechas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="createVisita.value.data.duracionDeVisita === 'entre_fechas'">
          <ion-label>
            <ion-icon name="hourglass-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Fecha de visita
          </ion-label>
          <ion-datetime style="margin-bottom: -8px;" placeholder="Fecha de visita" displayFormat="DD/MM/YYYY"
            cancelText="Descartar" doneText="Aceptar" formControlName="fechaInicio">
          </ion-datetime>
        </ion-item>
        <ion-item *ngIf="createVisita.value.data.duracionDeVisita === 'entre_fechas'">
          <ion-label>
            <ion-icon name="alarm-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Fecha de término
          </ion-label>
          <ion-datetime style="margin-bottom: -8px;" placeholder="Fecha de término" displayFormat="DD/MM/YYYY"
            cancelText="Descartar" doneText="Aceptar" formControlName="fechaTermino">
          </ion-datetime>

        </ion-item>
        <ion-item *ngIf="false" >
          <ion-label>
            <ion-icon name="people-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;¿Viene con acompañantes?
          </ion-label>
          <ion-toggle formControlName="conAcompaniantes" slot="end"></ion-toggle>
        </ion-item>
        <ion-item
          *ngIf="createVisita.value.data.duracionDeVisita === 'entre_fechas' || createVisita.value.data.duracionDeVisita === 'indefinido' ">
          <ion-label>
            <ion-icon name="person-add-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;¿Viene todos los días?
          </ion-label>
          <ion-toggle formControlName="visitaDiaria" slot="end"></ion-toggle>
        </ion-item>


        <div formGroupName="dias" *ngIf=" ! createVisita.value.data.visitaDiaria">
          <ion-item >
            <ion-label>Domingo</ion-label>
            <ion-checkbox slot="end"    formControlName="Domingo"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Lunes</ion-label>
            <ion-checkbox slot="end"  formControlName="Lunes"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Martes</ion-label>
            <ion-checkbox slot="end"  formControlName="Martes"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Miércoles</ion-label>
            <ion-checkbox slot="end"  formControlName="Miercoles"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Jueves</ion-label>
            <ion-checkbox slot="end"  formControlName="Jueves"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Viernes</ion-label>
            <ion-checkbox slot="end"  formControlName="Viernes"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Sábado</ion-label>
            <ion-checkbox slot="end"  formControlName="Sabado"></ion-checkbox>
          </ion-item>
        </div>

   <!--      <ion-list *ngIf=" ! createVisita.value.data.visitaDiaria">
          <ion-item *ngFor="let elem of dias">
            <ion-label>{{elem.name}}</ion-label>
            <ion-checkbox slot="end" (click)="diaIsClicked(elem)" value="elem.isChecked"></ion-checkbox>
          </ion-item>

        </ion-list> -->
        <!-- <ion-list  *ngIf=" ! createVisita.value.data.visitaDiaria">
          <ion-item  formControlName="dias" *ngFor="let elem of createVisita.value.data.dias">
            <ion-label>{{elem.name}}</ion-label>

            <ion-checkbox slot="end" (click)="diaIsClicked(elem)" checked="{{elem.isChecked}}"  
            value="{{elem.isChecked}}"></ion-checkbox>

          </ion-item>

        </ion-list> -->
      </div>
    </ion-list>


    <app-buttons valueLinkCancel="/visitas" valueDisabled="{{! createVisita.valid}}"></app-buttons>

    <app-footer></app-footer>


  </form>


</ion-content>
