<app-menu-header></app-menu-header>

<ion-content fullscreen>
 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>  
  <ion-slides class="emptyData" *ngIf="anunciosList?.length === 0 && anunciosListLocal?.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay registros</ion-label>
    </ion-slide>
  </ion-slides>  

  <ion-grid fixed *ngIf="anunciosList?.length > 0">    
    <ion-row>
      <ion-col size="12"
        *ngFor="let anuncio of anunciosList">
        <app-list [anuncio]="anuncio"></app-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid fixed *ngIf="anunciosListLocal?.length > 0">    
    <ion-row>
      <ion-col size="12"
        *ngFor="let ann2 of anunciosListLocal">
        <app-list [anuncio]="ann2"></app-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid fixed *ngIf="anuncioService.anuncios.length > 0 ">
    <ion-row>
     <ion-col  size="12"
         *ngFor="let pub of anuncioService.anuncios">
         <ion-card>
          <ion-card-header>
            <ion-card-title>{{pub.titulo}}</ion-card-title>        
            <ion-card-subtitle>
              <span class="text-primary"> {{pub.tipo}}</span>
              <div class="card-more">
              </div>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{pub.descripcion}}
          </ion-card-content>
          <ion-item>
            <ion-slides pager="true" *ngIf="pub.data?.archivos.length > 1">
              <ion-slide *ngFor="let img of pub.data.archivos" class="image-slide">              
                <img  *ngIf="img.rutaS3"  src="{{pathS3}}{{img.rutaS3}}">
                <img  *ngIf=" ! img.rutaS3"  src="{{pathBase64}}{{img.base64}}">
              </ion-slide>
            </ion-slides>
              <ion-slides *ngIf="pub.data?.archivos.length === 1">
                <ion-slide *ngFor="let img of pub.data.archivos" class="image-slide">          
                  <img  *ngIf="img.rutaS3"  src="{{pathS3}}{{img.rutaS3}}">
                  <img  *ngIf=" ! img.rutaS3"  src="{{pathBase64}}{{img.base64}}">
                </ion-slide>
            </ion-slides>  
          </ion-item>
        </ion-card>
     </ion-col>
   </ion-row>
  </ion-grid> -->
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer class="ion-no-border" translucent>
  <ion-toolbar color="light" style="height: 48px;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4">
          <ion-img src="assets/bee.png" style="height:17px; margin-left: -322px;  display:fixed;"></ion-img>
          <a href="https://sites.google.com/erpvortex.com/publicidad/p%C3%A1gina-principal"><ion-img src="assets/1.gif" style=" height:60px; display: block; width:400px; margin-left: 28px; margin-top: -35px;"></ion-img></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

 <!--  <ion-footer class="ion-no-border" translucent>
  <ion-toolbar color="light" style="height: 50px;">
    <ion-grid>
      <ion-row>
          <ion-img src="assets/1.gif" style=" height:60px; display: block; width:400px; margin-left: 20px; margin-top: -38px;"></ion-img>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>-->