<app-menu-header></app-menu-header>

<ion-content fullscreen>
 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>  
  <ion-slides class="emptyData" *ngIf="anunciosList?.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay registros</ion-label>
    </ion-slide>
  </ion-slides>  
  
  <ion-grid fixed *ngIf="anunciosList?.length > 0">    
    <ion-row>
      <ion-col size="12"
        *ngFor="let anuncio of anunciosList">
        <app-anuncio-list [anuncio]="anuncio"></app-anuncio-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 <!--  <ion-grid fixed *ngIf="anunciosListLocal?.length > 0">    
    <ion-row>
      <ion-col size="12"
        *ngFor="let ann2 of anunciosListLocal">
        <app-anuncio-list [anuncio]="ann2"></app-anuncio-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->

 
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer></app-footer>
