<app-menu-header></app-menu-header>

<app-header titulo ="Gastos"></app-header>
<ion-content fullscreen>  
  <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>  
  <ion-slides class="emptyData" *ngIf="gastoList.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay gastos</ion-label>
    </ion-slide>
  </ion-slides>
  
  <ion-grid fixed *ngIf="gastoList.length > 0 ">    
    <ion-row>
     <ion-col  size="12" 
         *ngFor="let gasto of gastoList">

        <app-list [gasto]="gasto" ></app-list>

     </ion-col>
   </ion-row>
  </ion-grid>



  <ion-fab vertical ="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink="/gastos/add" >
      <ion-icon name ="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
