<ion-header>
<app-menu-header></app-menu-header>
<app-header titulo="Nuevo directorio"></app-header>
</ion-header>

<ion-content>

  <form [formGroup]="createDirectorio" (ngSubmit)="save()">
    <ion-list>
   
      <div formGroupName="data">
        
        <ion-item>
          <ion-label>
            <ion-icon name="person-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Nombre completo
          </ion-label>
          <ion-input formControlName="nombreCompleto">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="document-text-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Descripción
          </ion-label>
          <ion-input formControlName="descripcion">
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label>
            <ion-icon name="call-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Celular:
          </ion-label>
          <ion-input formControlName="celular"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="mail-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Email:
          </ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <div
          *ngIf="createDirectorio.get('data').get('email').invalid && (createDirectorio.get('data').get('email').dirty || createDirectorio.get('data').get('email').touched)">
          <ion-label color="danger" *ngIf="createDirectorio.get('data').get('email').errors['email']">
            El email no es válido.
          </ion-label>
        </div>
      </div>
      <div formGroupName="direccion">
        <ion-item>
          <ion-label>
            <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Domicilio:
          </ion-label>
          <ion-input type="text" class="form-control" formControlName="calle" placeholder="Domicilio">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;# int.:
          </ion-label>
          <ion-input type="text" class="form-control" formControlName="numeroInterior" placeholder="# int"> </ion-input>

          <ion-label>
            <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;# ext.:
          </ion-label>
          <ion-input type="text" class="form-control" formControlName="numeroExterior" placeholder="# ext"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Código Postal:
          </ion-label>
          <ion-input type="text" maxlength="5" class="form-control" formControlName="asentamiento" placeholder="CP">
          </ion-input>
        </ion-item>
        <div
          *ngIf="createDirectorio.get('direccion').get('asentamiento').invalid && (createDirectorio.get('direccion').get('asentamiento').dirty || createDirectorio.get('direccion').get('asentamiento').touched)">
          <ion-label color="danger" *ngIf="createDirectorio.get('direccion').get('asentamiento').errors['required']">
            * El código postal es requerido
          </ion-label>
        </div>

        <ion-button (click)="validarCP()" expand="block" shape="round">
          Validar código postal
        </ion-button>


        <ion-item>
          <ion-label>
            <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; 
                margin-bottom: -5px;
            "></ion-icon>&nbsp;&nbsp;Asentamiento:
          </ion-label>
          <ion-select interface="action-sheet" cancelText="Cancelar" placeholder="Seleccionar" required
            (ionChange)="cambioAsentamiento($event)">
            <ion-select-option *ngFor="let asento of asentamientos" [value]="asento">
              {{ asento.colonia }}-{{ asento.municipio}}--{{asento.estado}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>

    <app-buttons valueLinkCancel="/directorio" valueDisabled="{{ ! createDirectorio.valid}}"></app-buttons>
    <!-- <app-footer></app-footer> -->
  </form>
</ion-content>
