<ion-header>
  <ion-toolbar>
    <ion-title>datos-empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon name="mail-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;
        "></ion-icon>&nbsp;&nbsp;Correo:
      </ion-label>
      <ion-label>admin-explanada@grupoerve.com</ion-label>      
    </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <ion-icon name="mail-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
      &nbsp;&nbsp;Telefono:
    </ion-label>
    <ion-label>771-295-9292</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <ion-icon name="mail-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
      &nbsp;&nbsp;Dirección:
    </ion-label>
    <ion-label>Camino Real de la Plata 338, Zona Plateada, Pachuca, Hidalgo</ion-label>
  </ion-item>

  </ion-list>
  

</ion-content>
