<ion-header>
  <ion-toolbar>
    <ion-title>datos-empresa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="empresaDataForm" (ngSubmit)="guardar()">
  <ion-list>
    <ion-list-header color="primary">
      <ion-label> 
        <h2>Datos de contacto</h2>
        </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
        &nbsp;&nbsp;Correo:
      </ion-label>       
      <ion-input class="ion-text-wrap"  formControlName="email"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="call-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
        &nbsp;&nbsp;Teléfono:
    </ion-label>
    <ion-input  class="ion-text-wrap" formControlName="telefono"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label >
      <ion-icon name="home-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
        &nbsp;&nbsp;Direccion:
    </ion-label>
    <ion-label class="ion-text-wrap" *ngIf="empData?.direccion" >
    {{empData.direccion.calle}}, {{empData.direccion.asentamiento.colonia}}, CP:
    {{empData.direccion.asentamiento.codigoPostal}}, {{empData.direccion.asentamiento.ciudad}},
    {{empData.direccion.asentamiento.estado}}    

    </ion-label>
  </ion-item>

  <div formGroupName="configuracionEmpresa">
    <ion-item *ngIf="admon">
      <ion-label >
        <ion-icon name="receipt-outline" style="font-size:23px; color: #50c8ec;
            margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Aplica reservar áreas
      </ion-label>
      <ion-toggle formControlName="aplicaReservarAreas" slot="end" ></ion-toggle>
    </ion-item>
  </div>

  <ion-item-divider>
    <ion-label>
        Datos bancarios
    </ion-label>    
</ion-item-divider>


<ion-item>
  <ion-label>
    <ion-icon name="text-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
    &nbsp;&nbsp;RFC:
  </ion-label>    
  <ion-input  class="ion-text-wrap" formControlName="rfc"></ion-input>
</ion-item>



<div formGroupName="data">




<ion-item>
  <ion-label>
    <ion-icon name="text-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
    &nbsp;&nbsp;Banco:
  </ion-label>   
  <ion-input  class="ion-text-wrap" formControlName="banco"></ion-input> 
</ion-item>

<ion-item>
  <ion-label>
    <ion-icon name="text-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
    &nbsp;&nbsp;Sucursal:
  </ion-label> 
  <ion-input  class="ion-text-wrap" formControlName="sucursal"></ion-input>  
</ion-item>

<ion-item>
  <ion-label>
    <ion-icon name="text-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
    &nbsp;&nbsp;Cuenta:
  </ion-label> 
  <ion-input  class="ion-text-wrap" formControlName="cuenta"></ion-input> 
</ion-item>

<ion-item>
  <ion-label position="floating">
    <ion-icon name="text-outline" style="font-size:23px; color: #50c8ec; margin-bottom: -5px;"></ion-icon>
    &nbsp;&nbsp;Clave interbancaria:
  </ion-label>   
  <ion-input  class="ion-text-wrap" formControlName="clabeInterbancaria"></ion-input> 
</ion-item>

</div>

<ion-button  expand="block" shape="round" type="submit" *ngIf="admon">
  Guardar
</ion-button>
  
  

  </ion-list>
  
</form>
</ion-content>
