
<ion-app [class.dark-theme]="dark">
  <!--<app-menu></app-menu> sirve para que se dibuje el menu en el lado superior izquierdo-->
  <ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        
        <!--<ion-title>hola</ion-title>-->      
        <!-- <ion-img src="assets/{{userData.nameImageEmpresa}}" style="margin-right: 155px; height:50px;"></ion-img> -->
        <!-- <ion-img src="{{userData.nameImageEmpresa}}" style="margin-right: 155px; height:50px;"></ion-img> -->
        <!-- <ion-img src="{{userData.base64ImageEmpresa}}" style="margin-right: 155px; height:50px;"></ion-img> -->
        
        <ion-img src="{{userData.base64ImageEmpresa}}"  style="margin-right: 100px; height:50px;"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content >            
      
      <!-- <ion-scroll style="height: 200px;"> -->

      <ion-list >
        <ion-menu-toggle > 
          <ion-item routerLink="/inicio" detail>
            <ion-icon slot="start"  name="home-outline" color="medium"> </ion-icon>
            <ion-label>
              Inicio
            </ion-label>
          </ion-item>

          <ion-item routerLink="/anuncios" detail>
            <ion-icon slot="start"  name="megaphone-outline" color="medium"> </ion-icon>
            <ion-label>
              Anuncios
            </ion-label>
          </ion-item>
          <ion-item routerLink="/menu-areas-comunes" detail *ngIf="userData.aplicaAreasComunes">
            <ion-icon slot="start"  name="leaf-outline" color="medium"> </ion-icon>
            <ion-label>
              Áreas comunes
            </ion-label>
          </ion-item>
          <ion-item routerLink="/asambleas" detail>
            <ion-icon slot="start"  name="people-outline" color="medium"> </ion-icon>
            <ion-label>
              Asambleas
            </ion-label>
          </ion-item>
          <ion-item routerLink="/boton-panico" detail>
            <ion-icon slot="start"  name="warning-outline" color="medium"> </ion-icon>
            <ion-label>
              Boton pánico
            </ion-label>
          </ion-item>

          <ion-item routerLink="/contactos-emergencia" detail>
            <ion-icon slot="start"  name="call-outline" color="medium"> </ion-icon>
            <ion-label>
              Contactos de emergencia
            </ion-label>
          </ion-item>
          <ion-item routerLink="/directorio" detail>
            <ion-icon slot="start"  name="book-outline" color="medium"> </ion-icon>
            <ion-label>
              Directorios
            </ion-label>
          </ion-item>
          <ion-item routerLink="/gastos" detail *ngIf="userData.administrador" >
            <ion-icon slot="start"  name="pricetags-outline" color="medium"> </ion-icon>
            <ion-label>
              Gastos del residencial
            </ion-label>
          </ion-item>
          <ion-item routerLink="/avisos" detail>
            <ion-icon slot="start"  name="alert-circle-outline" color="medium"> </ion-icon>
            <ion-label>
              Notificar a comunidad
            </ion-label>
          </ion-item>
          <ion-item routerLink="/pagos" detail>
            <ion-icon slot="start"  name="cash-outline" color="medium"> </ion-icon>
            <ion-label>
              Pagos
            </ion-label>
          </ion-item>
          <ion-item routerLink="/perfil" detail>
            <ion-icon slot="start"  name="person-circle-outline" color="medium"> </ion-icon>
            <ion-label>
              Perfil
            </ion-label>
          </ion-item>

          <ion-item routerLink="/reglamento" detail>
            <ion-icon slot="start"  name="document-text-outline" color="medium"> </ion-icon>
            <ion-label>
              Reglamento
            </ion-label>
          </ion-item>

          <ion-item routerLink="/mis-visitas" detail>
            <ion-icon slot="start"  name="business-outline" color="medium"> </ion-icon>
            <ion-label>
              Visitas
            </ion-label>
          </ion-item>

          <ion-item routerLink="/ayuda" detail>
            <ion-icon slot="start"  name="help-circle" color="medium"> </ion-icon>
            <ion-label>
              Ayuda
            </ion-label>
          </ion-item>
          
        </ion-menu-toggle>  

        <ion-menu-toggle >
          <ion-item>
            <ion-label></ion-label>
          </ion-item>  

          <ion-item routerLink="/administracion" detail >
            <ion-icon slot="start"  name="man-outline" color="medium"> </ion-icon>
            <ion-label>
              Administración
            </ion-label>
          </ion-item>

          <ion-item routerLink="/agente" detail *ngIf="userData.administrador">
            <ion-icon slot="start"  name="people-outline" color="medium"> </ion-icon>
            <ion-label>
              Usuarios
            </ion-label>
          </ion-item>
          <ion-item routerLink="/notifications" detail *ngIf="false">
            <ion-icon slot="start"  name="notifications-outline" color="medium"> </ion-icon>            
            <ion-label>
            Notificaciones
            </ion-label>
          </ion-item>
          <ion-item routerLink="/sincronizar" detail *ngIf="false">
            <ion-icon slot="start"  name="cloud-upload-outline" color="medium"> </ion-icon>
            <ion-label>
              Sincronizar
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start"  name="color-palette-outline" color="medium"> </ion-icon>
            <ion-label>
              Tema oscuro
            </ion-label>
            <ion-toggle (click)="theme()"></ion-toggle>            
          </ion-item>

          <ion-item detail (click)="logOut()">
            <ion-icon slot="start" name="log-out-outline" color="medium"> </ion-icon>
            <ion-label>
                Cerrar sesión
            </ion-label>
        </ion-item>

        </ion-menu-toggle>
      </ion-list>    
    <!-- </ion-scroll> -->

    
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal" ></ion-router-outlet>


</ion-app>
