<ion-card>
  <ion-card-header>
    <ion-card-title  color="{{reserva.autorizado?'success':'danger'}}"   >{{reserva.nombreAreaComun}}-{{reserva.autorizado?'Autorizado':'No autorizado'}}</ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary">{{reserva.nombreAgenteCreador}} </span>
      <div class="card-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <div *ngFor="let res of reserva.reserva">

      <ion-col *ngIf="res.diaCompleto" size="6">Fecha: {{res.fecha | date:'dd/MM/yyyy '}} </ion-col>
      <ion-col *ngIf="res.diaCompleto" size="6"> Todo el dia </ion-col>


      <ion-col *ngIf="! res.diaCompleto" size="6">Fecha {{res.fecha | date:'dd/MM/yyyy '}} </ion-col>
      <ion-col *ngIf="! res.diaCompleto" size="6"> Hora: {{res.horaInicia}} - {{res.horaTermina}} </ion-col>

    </div>
  </ion-card-content>
</ion-card>
