<app-menu-header></app-menu-header>

<app-header titulo="Asambleas"></app-header>

<ion-content>
  <ion-list>

    <ion-item routerLink="convocatorias" detail>
      <ion-icon slot="start" name="reader-outline" color="medium"> </ion-icon>
      <ion-label>
        Convocatorias
      </ion-label>
    </ion-item>

    <ion-item routerLink="votaciones" detail>
      <ion-icon slot="start" name="analytics-outline" color="medium"> </ion-icon>
      <ion-label>
        Puntos de acuerdo
      </ion-label>
    </ion-item>

    <ion-item routerLink="resoluciones" detail>
      <ion-icon slot="start" name="search-outline" color="medium"> </ion-icon>
      <ion-label>
        Resoluciones
      </ion-label>
    </ion-item>
   
  </ion-list>
</ion-content>
