<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header color="primary">
      <ion-label> 
        <h2>Archivos</h2>
      </ion-label>
    </ion-list-header>
    <br>
    <ion-item-divider>
      <ion-label>
        Guía de construccion
      </ion-label>
  </ion-item-divider>  
    <ion-button (click)="cargarGuiaConstruccion()" expand="block" shape="round" *ngIf="admon">
      Cargar nuevo
    </ion-button>
    <br>
    <ion-button (click)="verFormatoGuia()" expand="block" shape="round">
      Visualizar
    </ion-button>
    <br> 
    <ion-item-divider>
      <ion-label>
        Formato de construccion
      </ion-label>
  </ion-item-divider>   
    <ion-button (click)="cargarFormatoConstruccion()" expand="block" shape="round" *ngIf="admon">
      Cargar nuevo
    </ion-button>
    <br>
    <ion-button (click)="verFormatoConstruccion()" expand="block" shape="round">
      Visualizar 
    </ion-button>
  </ion-list>
</ion-content>

