<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header color="primary">
      <ion-label> 
        <h2>Formato de Construcción</h2>
      </ion-label>
    </ion-list-header>
    <br>  
    <ion-button (click)="cargarFormato()" expand="block" shape="round" *ngIf="admon">
      Cargar Nuevo Formato
    </ion-button>
    <br>
    <ion-button (click)="verFormato()" expand="block" shape="round">
      Visualizar Formato
    </ion-button>
  </ion-list>
</ion-content>

