<app-menu-header></app-menu-header>

<app-header titulo="Nueva área"></app-header>

<ion-content>
  <form  [formGroup]="createArea"  (ngSubmit)="save()">
    <ion-list>
      

      <div formGroupName="data">
        <ion-item>
          <ion-label>
            <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec; 
            margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Nombre
          </ion-label>
          <ion-input formControlName="nombre">
          </ion-input>
        </ion-item>

      
      <ion-item>
        <ion-label>
          <ion-icon name="pencil-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Clasificación
        </ion-label>
        <ion-select interface="popover" placeholder="Seleccionar"  formControlName="clasificacion"
        okText="Aceptar" cancelText="Cancelar">        
        <ion-select-option *ngFor="let clas of clasificacionAreas" [value]="clas">
          {{ clas}}
        </ion-select-option>
      </ion-select>
      </ion-item>

     
      <ion-item>
        <ion-label>
          <ion-icon name="create-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Descripción
        </ion-label>
        <ion-textarea rows="2" cols="1" style="margin-top: -20px;" formControlName="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="cash-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Costo
        </ion-label>
        <ion-input type="number" formControlName="costo">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="false">
        <ion-label>
          <ion-icon name="color-palette-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Color
        </ion-label>
        <ion-select interface="popover" formControlName="codigoColor" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="rojo">Rojo</ion-select-option>
          <ion-select-option value="verde">Verde</ion-select-option>
          <ion-select-option value="azul">Azul</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="calendar-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Requiere reserva
        </ion-label>
        <ion-toggle slot="end"  formControlName="requiereReserva" ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="chatbox-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Comentarios
        </ion-label>
        <ion-textarea rows="2" cols="1" style="margin-top: -20px;" formControlName="comentarios"></ion-textarea>
      </ion-item>
      <ion-item  >
        <ion-label>
          <ion-icon name="sunny-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;¿Cualquier día?
        </ion-label>
        <ion-toggle slot="end"  formControlName="disponibleTodosDias" ></ion-toggle>
      </ion-item>

      <ion-list  *ngIf=" ! createArea.value.data.disponibleTodosDias">
        <ion-item *ngFor="let elem of dias">
          <ion-label>{{elem.name}}</ion-label>
          <ion-checkbox slot="end"   
                        (click)="diaIsClicked(elem)"  
                        value ="elem.isChecked" ></ion-checkbox>
        </ion-item>


      </ion-list>

      <ion-item>
        <ion-label>
          <ion-icon name="time-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;¿Cualquier hora?
        </ion-label>
        <ion-toggle slot="end" formControlName="disponibleTodasHoras"></ion-toggle>
      </ion-item>

      <ion-item *ngIf=" ! createArea.value.data.disponibleTodasHoras" >
        <ion-label>
          <ion-icon name="alarm-outline" style="font-size:23px; color: #50c8ec; 
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Hora de inicio
        </ion-label>
        <ion-datetime 
          displayFormat="HH:mm A" 
          cancelText="Descartar" 
          style="margin-bottom: -5px;"
          doneText="Aceptar" 
          formControlName="horaInicia"
          (ionChange)="cambioHoraInicia($event)"
          >
        </ion-datetime>
      </ion-item>
      <ion-item *ngIf=" ! createArea.value.data.disponibleTodasHoras">
        <ion-label>
          <ion-icon name="hourglass-outline" style="font-size:23px; color: #50c8ec;
          margin-bottom: -5px;"></ion-icon>&nbsp;&nbsp;Hora de término
        </ion-label>
        <ion-datetime 
        formControlName="horaTermina"
        style="margin-bottom: -5px;" displayFormat="HH:mm A" cancelText="Descartar"
          doneText="Aceptar" 
          
          (ionChange)="cambioHoraTermina($event)">
        </ion-datetime>
      </ion-item>
    </div>

      <ion-item>
        <ion-button fill="clear" size="small" (click)="camara()">
          <ion-icon slot="start" name="camera-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="small" (click)="libreria()">
          <ion-icon slot="start" name="image-outline" style="font-size:23px; color: #50c8ec;"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-col size="3" *ngFor="let dat of files">          
          <ion-card>            
            <img  src="{{pathBase64}}{{dat.base64}}">
          </ion-card>
        </ion-col>
      </ion-item>

    </ion-list>
    
    
    <app-buttons valueLinkCancel="/areas-comunes" 
    valueDisabled="{{! createArea.valid}}" ></app-buttons>
    <!-- <app-footer></app-footer> -->
  </form>
</ion-content>