<ion-card class="card-image">
  <ion-card-header>
    <ion-card-title>{{aviso.data.titulo}}</ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary"> {{aviso.fechaDeCreacion}} </span>
      <div class="card-more">
        
      </div>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{aviso.data.descripcion}}
  </ion-card-content>
  
    
    <ion-row>
      <ion-col>

        <div class="card-more">

        
          <ion-buttons slot="end">
            <ion-button   fill="clear" (click)="editRowSelected()" *ngIf="userData.administrador" >
              <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
            </ion-button>
  
            <ion-button  fill="clear" (click)="verRespuestas()" *ngIf="numRespuestas > 0" >
              <ion-label>
                <h2>{{numRespuestas}}</h2>
                </ion-label>
              <ion-icon slot="icon-only" color="primary" name="chatbubble-ellipses-outline"></ion-icon>            
            </ion-button>
            
            <ion-button  fill="clear" (click)="responder()"  >
              <ion-icon slot="icon-only" color="primary" name="arrow-redo-circle-outline"></ion-icon>
            </ion-button>
    
            <ion-button fill="clear" (click)="lanzarMenu()">
              <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>       
          </ion-buttons>
          
        </div>
        
  
          
        
      </ion-col>
    </ion-row>
  
    <br>
  <ion-item>
    <ion-slides  pager="{{aviso.files?.archivos.length > 1?true:false}}"  >
      <ion-slide *ngFor="let img of aviso.files.archivos" class="image-slide">        
        <img  *ngIf="img.rutaS3"  src="{{pathS3}}{{img.rutaS3}}">
        <img  *ngIf=" ! img.rutaS3"  src="{{pathBase64}}{{img.base64}}">
      </ion-slide>
    </ion-slides>

  </ion-item>
</ion-card>