<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
   
        <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>      

    </ion-buttons>
    <ion-title></ion-title>
    <ion-img src="assets/g.JPG"  style="margin-right: 155px; height:40px;"></ion-img>
  </ion-toolbar>
</ion-header>

<app-header titulo="Directorios"></app-header>
<ion-content>


  <ion-slides class="emptyData" *ngIf="dataLocalDirectorioService.directorios.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay directorios</ion-label>
    </ion-slide>
  </ion-slides>



  <ion-grid fixed *ngIf="dataLocalDirectorioService.directorios.length > 0">
    <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>

    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
        *ngFor="let directorio of dataLocalDirectorioService.directorios | filtro: textoBuscar:'nombre'">

        <app-list [directorio]="directorio"> </app-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/directorio/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
