<app-menu-header></app-menu-header>

<app-header titulo="Adeudos"></app-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar"></ion-searchbar>
  <ion-slides class="emptyData" *ngIf="adeudos.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay registros</ion-label>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed *ngIf="adeudos.length > 0">
    
    <ion-row>
      <ion-col size="12" 
        *ngFor="let adeudo of adeudos">

        <app-list [adeudo]="adeudo"></app-list>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userData.administrador">
    <ion-fab-button routerLink="/adeudos/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
