<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
   
        <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>      

    </ion-buttons>
    <ion-title></ion-title>
    <ion-img src="assets/g.png"  style="margin-right: 155px; height:50px;"></ion-img>
  </ion-toolbar>
</ion-header>

<app-header titulo ="Votaciones"></app-header>
<ion-content>  

  <ion-slides class="emptyData" *ngIf="dataLocalVotacionesService.votaciones.length === 0">
    <ion-slide class="emptyData">
      <ion-label>No hay encuestas</ion-label>
    </ion-slide>
  </ion-slides>
  
  <ion-list *ngIf="dataLocalVotacionesService.votaciones.length > 0">

    <ion-searchbar  placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>

    <ion-item *ngFor="let votacion of dataLocalVotacionesService.votaciones">
      
      <app-list [votacion] = "votacion" ></app-list>

   <!--    <ion-label>
        {{votacion.titulo}}
      </ion-label>
      <ion-label>
        {{votacion.mensaje}}
      </ion-label> -->


    </ion-item>
  </ion-list>
  


  <ion-fab vertical ="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink="/votaciones/add" >
      <ion-icon name ="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
