
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
      background: #0c153e;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
      background: #0c153e;
    }
} 

.one-line {
    &:before,
    &:after {
       background:#50c8ec;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
  
}

ion-grid{
    background:#0c153e;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 3px;
    color:white;
   
}
ion-label{
    text-align: center;
    background:#0c153e;
 
}
ion-img{
    background:#0c153e;
    margin:5px auto;
    display:block;
    height:100px;
    width: 250px;
    margin-top: -30px;
}

ion-header{
    padding-bottom:10px;
    padding-top:50px;
    background:#0c153e;
}
.uno {
    display: block;
    text-align: center;
   margin-right: 60px;


   
}
.dos {
    display: block;
    text-align: center;
    margin-top: -32px;
  
  
}
.tres {
    display: block;
    text-align: center;
    margin-left: 60px;
    margin-top: -32px;
}
ion-button{
    width: 250px;
    text-transform: none;
    margin-left: auto;
  margin-right: auto;
  height: 25px;
  background:#0c153e;
}
.small-text {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top:6px;
    background: #0c153e;
}
ion-input{
    background: white;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    font-size: 13px;
    
}
ion-grid{
    background:#0c153e;  
}