
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background:#00DDFF;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
    background:#0c153e;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 3px;
    color:white;
   
}
ion-label{
    text-align: center;
    background:#0c153e;
}
ion-img{
    background:#0c153e;
    margin:10px auto;
    display:block;
    height:100px;
    width: 250px;
}

ion-header{
    padding-bottom:10px;
    padding-top:50px;
    background:#0c153e;
}
.uno {
    display: block;
    text-align: center;
   margin-right: 60px;
  

   
}
.dos {
    display: block;
    text-align: center;
    margin-top: -34px;
  
  
}
.tres {
    display: block;
    text-align: center;
    margin-left: 60px;
    margin-top: -35px;
}
ion-button{
    width: 250px;
    text-transform: none;
    margin-left: auto;
  margin-right: auto;
}