<ion-card lines="none">
  <ion-card-header>
    <ion-card-title>{{directorio.nombre}} {{directorio.apellidoP}} {{directorio.apellidoM}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-label>{{directorio.nombrePrivada}}</ion-label>

    <ion-label>{{directorio.direccion.cp}}
      {{directorio.direccion.calle}}
      {{directorio.direccion.numInterior}}
      {{directorio.direccion.numExteerior}}
      {{directorio.direccion.referencia}}
    </ion-label>

    <ion-label>Cel.: {{directorio.direccion.celular}} </ion-label>
    <ion-label>Tel.1: {{directorio.direccion.telefono1}}</ion-label>
    <ion-label>Tel.2: {{directorio.direccion.telefono2}}</ion-label>

  </ion-card-content>
</ion-card>