<ion-card lines="none">
  <ion-card-header>
    <ion-card-title>{{directorio.nombre}}</ion-card-title>
    
    <ion-card-subtitle>
      <span class="text-primary">  {{directorio.apellidoP}} {{directorio.apellidoM}} </span>
      <div class="card-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <ion-label>{{directorio.nombrePrivada}}</ion-label>

    <ion-label>{{directorio.direccion.cp}}
      {{directorio.direccion.calle}}
      {{directorio.direccion.numInterior}}

      {{directorio.direccion.numExterior}}      
    </ion-label>

    <ion-label>Cel.: {{directorio.direccion.celular}} </ion-label>
    <ion-label>Tel.1: {{directorio.direccion.telefono1}}</ion-label>
    <ion-label>Tel.2: {{directorio.direccion.telefono2}}</ion-label>

  </ion-card-content>
</ion-card>