<ion-card>
  <ion-card-header>
    <ion-card-title>{{contacto.data.titulo}}</ion-card-title>
    <ion-card-subtitle>
      <span class="text-primary" *ngIf="contacto.data.nombreCompleto" > {{contacto.data.nombreCompleto}}</span>
      <div class="card-more">

        
        <ion-buttons slot="end">

          <ion-button slot="end" (click)="editRowSelected()" fill="clear">
            <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="lanzarMenu()">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button> 
        </ion-buttons>
        
      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-label>    
      <h2 *ngIf="contacto.data.celular" (click)="callSelected(contacto.data.celular)" >Cel. {{contacto.data.celular}}
        <ion-icon slot="icon-only" color="primary" name="call-outline"></ion-icon>
      </h2>
      <h2 *ngIf="contacto.data.telefono1" (click)="callSelected(contacto.data.telefono1)" >Tel1. {{contacto.data.telefono1}}
        <ion-icon slot="icon-only" color="primary" name="call-outline"></ion-icon>
      </h2>
      <h2 *ngIf="contacto.data.telefono2" (click)="callSelected(contacto.data.telefono2)" >Tel2. {{contacto.data.telefono2}}
        <ion-icon slot="icon-only" color="primary" name="call-outline"></ion-icon>
      </h2>
    </ion-label>
  </ion-card-content>
</ion-card> 
