<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <!--<ion-title>hola</ion-title>-->      
      <!-- <ion-img src="assets/{{userData.nameImageEmpresa}}" style="margin-right: 155px; height:50px;"></ion-img> -->
      <ion-img src="{{userData.nameImageEmpresa}}" style="margin-right: 155px; height:50px;"></ion-img>
      
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle >
        <ion-item *ngIf="false" routerLink="/home" detail>
          <ion-icon slot="start"  name="log-out-outline" color="medium"> </ion-icon>
          <ion-label>
            Cerrar sesión
          </ion-label>
        </ion-item>
    

      </ion-menu-toggle>
      <ion-menu-toggle *ngFor="let c of componentes | async">

        <ion-item [routerLink]="c.redirectTo" detail>
          <ion-icon slot="start" [name]="c.icon" color="medium"> </ion-icon>
          <ion-label>
            {{c.name}}
          </ion-label>
        </ion-item>

      </ion-menu-toggle>

      <ion-menu-toggle >
        <ion-item>
          <ion-label></ion-label>
        </ion-item>

        <ion-item routerLink="/agente" detail>
          <ion-icon slot="start"  name="people-outline" color="medium"> </ion-icon>
          <ion-label>
            Agentes
          </ion-label>
        </ion-item>
        <ion-item routerLink="/sincronizar" detail>
          <ion-icon slot="start"  name="cloud-upload-outline" color="medium"> </ion-icon>
          <ion-label>
            Sincronizar
          </ion-label>
        </ion-item>
    

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>